$app-left-menu-width: 200px;
$app-main-head-height: 60px;
$app-main-padding: 20px;
$app-page-title-height: 96px;

body{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page-view {
  background-color: #fff;
  padding: 1rem 2rem 2rem 2rem;
}
.easy-warn{
  color:#FF0000;
}
.easy-sub-title{
  font-size:1rem;
  font-weight: 700;
}

@mixin common-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

@mixin indeterminate-bar {
  background-image: repeating-linear-gradient(-45deg, rgba(251, 234, 174, 0.35), rgba(251, 234, 174, 0.35) 25px, rgba(244, 176, 0, 0.45) 25px, rgba(244, 176, 0, 0.45) 50px);
  -webkit-animation: progress 2s linear infinite;
  -moz-animation: progress 2s linear infinite;
  animation: progress 2s linear infinite;
  background-size: 165% 100%;

  @-webkit-keyframes progress {
    0% {
      background-position: -70px 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  @-moz-keyframes progress {
    0% {
      background-position: -70px 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  @-ms-keyframes progress {
    0% {
      background-position: -70px 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  @keyframes progress {
    0% {
      background-position: -70px 0;
    }

    100% {
      background-position: 0 0;
    }
  }
}